*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /* Task 1 */

#menu{
    display: flex;
}
#menu .menu-item{
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 8px 14px;
    cursor: pointer;
    background-color: rgb(228, 227, 227);
    border: 1px solid transparent;
    transition: all 0.3s;
}

#menu .menu-item:hover{
    border:1px solid gray;
}


#menu .active{
    background-color: rgb(167, 167, 167);
}

#content-list{

}

#content-list .content-item{
    list-style: none;
}
